/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.

You're the boss, so have fun editing!

--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Global Styles
2.0 - Responsive media queries (mobile styles)
  2.1 - MAXIMUM width of 720 pixels (phones landscape)
  2.2 - MAXIMUM width of 380 pixels (phones portrait)
  2.3 - MINIMUM width of 721 pixels (tablets+)
  2.4 - MINIMUM width of 1040 pixels (desktops and laptops)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Global Styles
--------------------------------------------------------------*/
/* Headings
-------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: #111;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
  height: 1.25em;
}

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img {
  margin: 0;
}
/* Text elements
-------------------------------------------------------------- */

body,
p {
  margin: 0 0 1.5em;
  line-height: 1.3;
}

select[multiple="multiple"],
#buddypress .standard-form#signup_form input[type="email"],
#buddypress .standard-form#signup_form input[type="text"],
#buddypress .standard-form#signup_form textarea {
  width: 100%;
  box-sizing: border-box;
  background-color: lightgrey;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
}
/*--------------------------------------------------------------
 Header 
--------------------------------------------------------------*/

.site-header {
  background: #c9e6f6;
  /* Old browsers */
  
  background: -moz-linear-gradient(top, #c9e6f6 0%, #ffffff 100%);
  /* FF3.6+ */
  
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c9e6f6), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  
  background: -webkit-linear-gradient(top, #c9e6f6 0%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  
  background: -o-linear-gradient(top, #c9e6f6 0%, #ffffff 100%);
  /* Opera 11.10+ */
  
  background: -ms-linear-gradient(top, #c9e6f6 0%, #ffffff 100%);
  /* IE10+ */
  
  background: linear-gradient(to bottom, #c9e6f6 0%, #ffffff 100%);
  /* W3C */
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c9e6f6', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
}

.header-inner {
  overflow: visible;
}
/*--------------------------------------------------------------
 Navigation 
--------------------------------------------------------------*/

nav.main-navigation {
  background: #62b5e5;
  /* Old browsers */
  
  background: -moz-linear-gradient(top, #62b5e5 0%, #52a7df 100%);
  /* FF3.6+ */
  
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62b5e5), color-stop(100%, #52a7df));
  /* Chrome,Safari4+ */
  
  background: -webkit-linear-gradient(top, #62b5e5 0%, #52a7df 100%);
  /* Chrome10+,Safari5.1+ */
  
  background: -o-linear-gradient(top, #62b5e5 0%, #52a7df 100%);
  /* Opera 11.10+ */
  
  background: -ms-linear-gradient(top, #62b5e5 0%, #52a7df 100%);
  /* IE10+ */
  
  background: linear-gradient(to bottom, #62b5e5 0%, #52a7df 100%);
  /* W3C */
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#62b5e5', endColorstr='#52a7df', GradientType=0);
  /* IE6-9 */
}

.menu-abi-main-container {
  float: left;
}

.main-navigation div > ul > li > a {
  text-transform: uppercase;
  font-weight: 600;
  border-right: 1px solid #a7d3ef;
  padding: 19px 25px;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.main-navigation div > ul > li:first-of-type > a {
  border-left: 1px solid #a7d3ef;
}

.main-navigation div > ul > .current-menu-item > a,
.main-navigation div > ul > .current-menu-ancestor > a,
.main-navigation li a:hover {
  background-color: #1e86b3;
}

.nav-inner .searchform {
  position: relative;
  float: right;
  padding: 7px;
}

.nav-inner .searchform label {
  display: none;
}

.nav-inner .searchform input[type="text"] {
  background: white;
  border-radius: 0;
  width: 100%;
  box-sizing: border-box;
  padding-left: 30px;
}

.nav-inner .searchform #searchsubmit {
  position: absolute;
  left: 7px;
  top: 7px;
  background-color: transparent;
  color: #5CB0E3;
  font-size: 20px;
  padding: 9px;
  outline: none;
  box-shadow: none;
}

.right-column {
  float: right;
  width: 665px;
  margin-top: 20px;
  margin-bottom: -20px;
  position: relative;
  z-index: 3;
}

.logged-in .right-column {
  width: 270px;
}

.header-account {
  text-transform: uppercase;
  font-size: 17px
}

.header-account a.button.register {
  padding: 10px 20px;
  border-radius: 0;
  font-size: 18px;
}

.right-column .header-account-login a,
.right-column .header-notifications a {
  color: #717475;
  text-decoration: none;
}
/*--------------------------------------------------------------
 Footer
--------------------------------------------------------------*/

.footer-widget .widget h4.widgettitle {
  color: #fff;
  text-transform: uppercase;
}

.footer-widget .widget p,
.footer-widget .widget li,
.footer-widget .widget .textwidget {
  color: #939494;
}

.footer-widget:nth-of-type(1),
.footer-widget:nth-of-type(2) {
  width: 48%;
  float: left;
}

.footer-widget:nth-of-type(1) {
  margin-right: 4%;
}

.footer-widget:nth-of-type(2) {
  margin-right: 0;
}

.footer-widget:nth-of-type(3) {
  width: 100%;
  text-align: center;
}

.footer-widget:nth-of-type(3) h4 {
  display: inline-block;
  vertical-align: text-top;
  margin-right: 50px;
}

.footer-widget:nth-of-type(3) p {
  margin-top: 30px;
}

.footer-widget:nth-of-type(3) img {
  display: inline-block;
  vertical-align: middle;
}

ul.footer-menu,
ul.second-footer-menu {
  text-align: center;
  margin: 0 0 10px;
}

ul.second-footer-menu {
  margin: 0 0 40px;
}

ul.second-footer-menu li {
  display: inline;
  margin: 5px;
}

ul.footer-menu li a,
ul.second-footer-menu li a {
  color: #939494;
  text-decoration: underline;
}

ul.footer-menu li a {
  font-weight: 700;
  text-decoration: none;
}

div.footer-inner-bottom {
  padding-bottom: 0;
}

div.footer-inner-bottom ul li {
  display: inline-block;
  margin-right: 10px;
}

div.footer-inner-bottom a {
  color: #939494;
  text-decoration: underline;
  text-transform: lowercase;
}

.footer-inner .footer-widget .widget_nav_menu {
  margin-top: 15px;
  text-align: center;
}

.footer-inner .footer-widget .menu-abi-main-container {
  float: none;
}
/*--------------------------------------------------------------
 Home Page
--------------------------------------------------------------*/

.home .home_slider {
  width: 60%;
  float: left;
  margin-right: 2%;
}

.fullwidthbanner-container {
  z-index: 1;
}

.tp-caption.black {
  width: 100%;
  background-color: rgba(100, 100, 100, 0.75);
  bottom: 0;
  color: #fff!important;
  text-align: center;
  line-height: 14px!important;
  top: auto!important;
}

.tp-caption.black .dark-caption {
  padding: 10px 0px!important;
  font-size: 14px!important;
  line-height: 14px!important;
}

.tp-caption.black .dark-caption a {
  color: #fff;
  text-decoration: underline;
  font-size: 14px!important;
  line-height: 14px!important;
}

.home_right {
  float: right;
  width: 34.5%;
}

.home_right_box {
  height: 48px;
  margin-bottom: 10px;
  padding: 20px 10px;
  -webkit-transition: background .2s;
  -o-transition: background .2s;
  transition: background .2s;
  position: relative;
  overflow: hidden;
}

.home_right_box h3,
.home_right_box p,
.home_right_box a {
  color: white;
}

.home_right_box .absolute_link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.home_right_box .home_right_arrow {
  position: absolute;
  right: -40px;
  height: 93px;
  width: 80px;
  top: 0px;
  text-align: left;
  border-radius: 50%;
}

.home_right_box.cities .home_right_arrow {
  background-color: #0076a9;
}

.home_right_box.forums .home_right_arrow {
  background-color: #00833e;
}

.home_right_box.events .home_right_arrow {
  background-color: #ef4135;
}

.home_right_box .home_right_arrow img {
  margin-top: 30px;
  margin-left: 11px;
}

.home_right_box h3 {
  font-size: 24px;
  text-transform: uppercase;
  vertical-align: top;
  margin-bottom: 10px;
}

.home_right_box h3:before {
  content: '';
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  background: white;
  border-radius: 50%;
}

.home_right_box.cities {
  background: #62b5e5;
}

.home_right_box.cities:hover {
  background: #0076a9;
}

.home_right_box.forums {
  background: #6cc04a;
}

.home_right_box.forums:hover {
  background: #00833e;
}

.home_right_box.events {
  background: #f89728;
}

.home_right_box.events:hover {
  background: #ef4135;
}

.home .content_after_slider {
  text-align: center;
  margin: 30px 0;
  font-size: 17px;
}

.home .content_after_slider p {
  max-width: 75%;
  margin: 0 auto;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.home .content_after_slider p:hover {
  color: #686b6d;
}

hr.blue-hr {
  background-color: #62b5e5;
}

.home .callout_headline {
  color: #62b5e5;
  text-align: center;
  font-size: 18px;
  margin-bottom: 29px;
}

.home .callout {
  width: 29%;
  float: left;
  margin-right: 6%;
  text-align: center;
}

.home .callout.last {
  margin-right: 0;
}

.home .callout_title {
  font-weight: 600;
  margin: 14px;
  font-size: 14px;
}

.home .callout:hover .callout_title {
  color: #686b6d;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.home .callout_text {
  font-size: 16px;
  font-weight: 300;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.home .callout:hover .callout_text {
  color: #686b6d;
}

.callout_image {
  margin-bottom: 13px;
}

.made-possible {
  clear: both;
  background-color: #b2b2b2;
  width: 100%;
  width: 100vw;
  max-width: none;
  position: relative;
  left: -webkit-calc(-50vw + 50%);
  left: -moz-calc(-50vw + 50%);
  left: calc(-50vw + 50%);
  margin-top: 100px;
  float: left;
  margin-bottom: 90px;
}

.made-possible .container {
  padding: 15px;
}

.made-possible .textwidget {
  display: table;
  margin: 0 auto;
}

.made-possible h4.widgettitle {
  margin-right: 45px;
}

.made-possible h4.widgettitle,
.made-possible img {
  display: inline;
  vertical-align: middle;
  color: white;
}
/* Group Blog css */
/* BLOG */
.breadcrumb-container {
  margin-top: 15px;
}
.breadcrumb-container li:nth-of-type(2) a {
  padding-left: 0px;
}
.breadcrumb-container li:last-of-type .separator:last-of-type  {
  display: none;
} 
.breadcrumb-container li:last-of-type a {
  color: #888b8d;
}
.entry-header .entry-title {
  font-size: 18px;
  color: #62b5e5;
}

.single-post header .thumbnail-caption.attachment- {
  background-color: #f6f6f6;
  padding: 15px;
  max-width: 100%;
  box-sizing: border-box;
}

.single-post header .thumbnail-caption.attachment- img.wp-post-image {
  margin: -15px -15px 10px;
  max-width: none;
  width: -webkit-calc(100% + 30px);
  width: -moz-calc(100% + 30px);
  width: calc(100% + 30px);
}

.single-post header p.thumbnail-caption-text {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 300;
}

.entry-header .entry-meta {
  color: #888b8d;
  font-weight: 300;
  font-size: 13px;
}

.wp-caption .wp-caption-text {
  font-style: normal;
  background-color: #f6f6f6;
  padding: 5px 20px;
  margin-top: -4px;
  display: inline-block;
}

.entry-header .entry-meta .meta-pipe {
  margin: 0 5px;
  display: inline-block;
}

.entry-meta .author a.url {
  text-decoration: none;
}

.entry-meta .author a.url img.avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
  border: 1px solid rgba(70, 70, 70, 0.75);
}

.entry-content blockquote,
.comment-content blockquote {
  background: white;
  border-left: 5px solid #b1b3b3;
  border-radius: 0;
  padding: 0 15px;
  font-style: italic;
  font-size: 24px;
  font-weight: 300;
}

.entry-content blockquote cite,
.comment-content blockquote cite {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
}

.entry-content blockquote p,
.comment-content blockquote p {
  margin-bottom: 0;
}

.entry-content .group-blog-wrapper .post-content h2 {
  margin-bottom: 0;
}

.group-blog-wrapper .date {
  margin-bottom: 10px;
}
/* Entry Content Styles */

.entry-content h1,
.comment-content h1,
.entry-content h2,
.comment-content h2,
.entry-content h3,
.comment-content h3,
.entry-content h4,
.comment-content h4,
.entry-content h5,
.comment-content h5,
.entry-content h6,
.comment-content h6 {
  margin: 10px 0;
}

.entry-content h1,
.comment-content h1 {
  color: #62b5e5;
}

.entry-content h3,
.comment-content h3,
.entry-content h4,
.comment-content h4 {
  font-weight: 600;
}

.entry-content h4,
.comment-content h4 {
  text-transform: uppercase;
  font-size: 14px;
}

.entry-content h5,
.comment-content h5 {
  font-weight: 300;
}

.entry-content h6,
.comment-content h6 {
  color: #000;
  font-weight: 400;
}

.entry-content ul li {
  list-style: none;
  margin-left: 0;
}

.entry-content ol li,
.comment-content ol li,
.mu_register ol li {
  margin-left: 18px;
}

.entry-content ul li:before {
  color: #c1d82f;
  content: "• ";
  font-size: 1.6em;
  vertical-align: middle;
}

.entry-content p.categories {
  background-color: #1e86b3;
  display: inline-block;
  margin: 20px auto 10px;
  padding: 3px 6px;
  color: #fff;
  text-transform: uppercase;
}

.entry-content p.categories a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color .4s;
  -o-transition: color .4s;
  transition: color .4s;
}
.entry-content p.categories a:hover {
  color:#ddd;
}
.entry-content p.categories a:after {
  content: '; ';
}

.entry-content p.categories a:last-of-type:after {
  content: '';
}

.entry-content p.tags a {
  display: inline-block;
  padding: 3px 15px;
  text-transform: uppercase;
  color: #888b8d;
  background: #dddddd;
  margin-right: 10px;
  -webkit-transition: background-color .4s;
  -o-transition: background-color .4s;
  transition: background-color .4s;
}

.entry-content p.tags a:hover {
  text-decoration: none;
  background: #ccc;
}

span.meta-nav {
  font-size: 1.4em;
  vertical-align: middle;
  margin-right: 4px;
  font-weight: 600;
}

.comments-title {
  margin-bottom: 10px;
}
#respond {
  background-color: #ececec;
  padding: 10px 20px;
}
#respond form {
  margin:10px 0;
}
#respond h3#reply-title{
  display:none;
}
.comments-area article header {
  margin-bottom: 5px;
}
.comments-area article header img,
.comments-area article header a {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
.comments-area article header img{
  border-radius: 50%;
}
.comments-area article header cite {
  display: inline-block;
  float: none;
  margin-left: 10px;
}
.comments-area article header cite a {
  color: #888b8d;
  display: inline-block;
}
.comments-area article header cite a:after {
  content: ' | ';
  display: inline-block;
  margin: 0 10px;
  color: #888b8d;
}
.comments-area article header time {
  margin-left: 0;
}
section.comment-content.comment {
  margin-left:55px;
}
#respond form p.logged-in-as,
#respond form p.form-allowed-tags {
  display: inline-block;
  width: 50%;
  margin-bottom: 0;
}
.logged-in-as a.user {
  color:#888b8d;
  margin-right: 10px;
  font-size: 15px;
}
.logged-in-as a img {
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 5px;
}
p.form-allowed-tags {
  text-align: right;
}

#respond form textarea {
  width: 100%;
  background-color: white;
  box-shadow: inset 0 0 6px -1px #aaa;
  border-radius: 0;
  height: 40px;
  border: 1px solid #dededc;
  resize: none;
  overflow: hidden;
}



form#group-settings-form input[type="radio"],
form#group-settings-form input[type="checkbox"] {
  float: none;
}

.abi-group-role-editor {
  margin-left: 10px;
}
/* Custom user form style */

.entry-content > .abi-form-wrapper {
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
}

#abi-user-post-creation label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.abi-form-field {
  margin: 10px 0 20px;
}

.abi-form-field input[type="text"] {
  box-sizing: border-box;
  width: 100%;
}

.abi-post-messages {
  background: #d7f1d9;
  border-radius: 3px;
  color: #67ab6a;
  display: block;
  font-size: 13px;
  margin-bottom: 20px;
  padding: 10px 14px;
}

.blog-activity-list .acomment-reply {
  display: none;
}

#custom-announcements {
  height: 20px;
  width: 97%;
}

#custom-announcements-content .greeting-text {
  float: left;
  font-weight: 600;
  margin: 0 0 10px;
}

#custom-announcements-options {
  float: right;
  margin-top: 10px;
}

.announcements #buddypress .buddyboss_privacy_filter {
  display: none;
}

/* Added by DN */
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.tribe-events-before-html {
  margin: auto;
  width: 650px;
}
#tribe-events-photo-events .type-tribe_events.tribe-events-photo-event {
  margin: 0 2% 30px 0;
  width: 31.2%;
}
.tribe-events-list .tribe-events-photo-event .tribe-events-event-details {
  padding: 10px;
}
.events-main-location {
  background-repeat: no-repeat;
  background-position: left top;
  border-top: 1px solid #808080;
  line-height: 39px;
  padding-left: 50px;
}
.events-main-date {
  background: #f89728;
  border-radius: 100%;
  color: #fff;
  float: left;
  height: 79px;
  margin-right: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 79px;
}
.events-main-date p {
  font: 600 26px/1 "Bernino Sans";
  margin: 0;
  padding: 12px 0 0;
}
.events-main-date span {
  display: block;
  font-size: 40px;
  font-weight: 300;
}
.events-main-content {
  float: right;
  width: calc(100% - 89px);
}
.tribe-events-list #tribe-events-photo-events .tribe-events-event-details h2 {
  font: 600 16px "Freight Sans Pro";
  letter-spacing: 0.2px;
}
.tribe-events-list #tribe-events-photo-events .tribe-events-event-details h2 a {
  color: #464646;
}
.tribe-events-loop .tribe-events-photo-event .time-details {
  color: #464646;
  font: 13px "Freight Sans Pro";
}
.events-main-venue {
  color: #464646;
  font: 14px/1 "Freight Sans Pro";
  text-transform: uppercase;
}
.tribe-events-list .tribe-events-loop .tribe-events-content {
  font: 300 14px/1.1 "Freight Sans Pro";
  padding: 8px 0 0;
}



/*--------------------------------------------------------------
2.0 - Responsive media queries (mobile styles)
--------------------------------------------------------------*/

@media screen and (max-width: 1020px) {
  .home .home_slider {
    width: 65%;
  }
  .home_right {
    width: 33%;
  }
}

@media screen and (max-width: 900px) {
  .nav-inner .searchform {
    display: none;
  }
}
/*--------------------------------------------------------------
2.1 - MAXIMUM width of 720 pixels (phones landscape)
--------------------------------------------------------------*/

@media screen and (max-width: 720px) {
  /* Home Page */
  
  .home .page-full-width {
    padding: 20px;
  }
  .home_right,
  .home .home_slider {
    width: 100%;
    margin-bottom: 30px;
  }
  .home .content_after_slider {
    margin-top: 0;
  }
  .home .callout {
    width: 100%;
    margin: 20px auto;
  }
  .footer-widget {
    width: 100%!important;
    margin: 0 0 20px;
  }
  .footer-inner-bottom .footer-widget {
    text-align: center;
  }
}
/* don't delete this closing bracket */
/*--------------------------------------------------------------
2.2 - MAXIMUM width of 380 pixels (phones portrait)
--------------------------------------------------------------*/

@media screen and (max-width: 380px) {
  /*
  .just_an_example {
    color: black;
  }
  */
}
/* don't delete this closing bracket */
/*--------------------------------------------------------------
2.3 - MINIMUM width of 721 pixels (tablets+)
--------------------------------------------------------------*/

@media screen and (min-width: 721px) {
  /*
  .just_an_example {
    color: black;
  }
  */
}
/* don't delete this closing bracket */
/*--------------------------------------------------------------
2.4 - MINIMUM width of 1040 pixels (desktops and laptops)
--------------------------------------------------------------*/

@media screen and (min-width: 1040px) {
  .nav-inner .searchform {
    width: 320px;
  }
  .home .home_slider {
    width: 63.5%;
  }
  .home_right {
    width: 34.5%;
  }
  .home_right_box {
    height: 53px;
  }
}
/* don't delete this closing bracket */
